body{
    margin: 0px;
    padding: 0px;
}

.container {
    margin:0px;
    padding:0px;
}

#rolls {
    text-align: center;
    margin:0px;
    padding:0px;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#controls {
    margin:0px;
    padding: 0;
    position: fixed;
    text-align: center;
    height: 20vh;
    width: 100%;
    bottom: 0px;
    font-size: 3vh;
    background-color: black;
}

.button, .button:link, .button:visited, button:hover{
    margin: 3vh;
    padding: 5vh;
    background-color: grey;
    color: inherit;
    text-decoration: inherit;
    display: inline-block;
    border-radius: 2vh;
    color: white;
}

#rollButton{
    background-color: lightblue;
}

#clearButton{
    background-color: pink;
}

.diceThrow {
    margin-bottom: 5px;
    width: 100%;
}

.dieFrame {
    width: 10vh;
    height: 10vh;
    display: inline-block;
    margin: 2vw 1vw;
}

.dieFace {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 2vh;
}

.dieText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 5vh;
}

.infoFrame {
    height: 10vh;
    width: 10vh;
    display: inline-block;
    margin:0;
}

.infoContainer{
    position: relative;
    height: 100%;
    width: 100%;
}

.infoText{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 5vh;
}

.success {
    background-color: green;
}

.failure {
    background-color: red;
}

.neutral {
    background-color: grey;
}