#rolls {
    text-align: center;
}

#controls {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 10px;
}

.diceThrow {
    margin-bottom: 5px;
    width: 100%;
}

.dieFrame {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin:10px 5px 10px 5px;
}

.dieFace {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 15%;
}

.dieText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 3em;
}

.pink{
    background-color: pink;
}

.success {
    background-color: green;
}

.failure {
    background-color: red;
}

.neutral {
    background-color: grey;
}